* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changed from class to directly affecting header. (Removed: .)*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Changed from class to directly affecting header. (Removed: .)*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed from class to directly affecting header. (Removed: .)*/
header h1 .seo {
    color: #d9dcd6;
}
/* TODO: Remove all obsolete code */
/* Changed from class to directly affecting header. (Removed: .)*/
/* Changed div to nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Block Removed */
/* .header div ul {
    list-style-type: none;
} */

/* changed from ul li to reference a under nav. */
header nav a {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

/* Moved to header nav a */
/* a {
    color: #ffffff;
    text-decoration: none;
} */

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* Renamed to aside as class name becomes obsolete */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changed lead to info to better encapsulate all three benefits */
.benefit-information {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Obsolete code */
/* .benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
} */

/* .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
} */

.benefit-info h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Obsolete code */
/* .benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
} */

/* .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
} */

.benefit-info img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Obsolete code */
/* .benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} */

/* Changed to section as class name becomes obsolete. */
/* Code moved down for better organization */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-site-information {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Obsolete code */
/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

/* Renamed to better encapsulate all three blocks. */
.main-site-information img {
    max-height: 200px;
}

/* Obsolete code */
/* .online-reputation-management img {
    max-height: 200px;
} */

/* .social-media-marketing img {
    max-height: 200px;
} */


/* Renamed to better encapsulate all three blocks. */
.main-site-information h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Obsolete code */
/* .online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
} */

/* Added background color to footer. */
/* Changed from class to directly affecting the footer element  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /*Background color added */
    background-color: #2a607c;
}

/* Changed h2 to h4 */
/* Changed from footer class to directly affecting all h4 elements in the footer  */
footer h4 { /* was h2 */
    font-size: 20px;
}
