* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Changed from class to directly affecting header. (Removed: .)*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Changed from class to directly affecting header. (Removed: .)*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed from class to directly affecting header. (Removed: .)*/
header h1 .seo {
    color: #d9dcd6;
}
/* TODO: Remove all obsolete code */
/* Changed from class to directly affecting header. (Removed: .)*/
/* Changed div to nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* changed from ul li to reference a under nav. */
header nav a {
    display: inline-block;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Changed from Hero to marketing-meeting to better make sense */
/* removed background image element */
.marketing-meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


/* Renamed to aside as class name becomes obsolete */
/* * * Increased padding to better improve page formatting. */
aside {
    margin-right: 20px;
    padding: 48px;
    /* clear: both; */
    float: right;
    width: 20%;
    height: 160%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changed lead to info to better encapsulate all three benefits */
figure {
    margin-bottom: 32px;
    color: #ffffff;
}

figure h3 {
    margin-bottom: 10px;
    text-align: center;
}

figure img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed to section as class name becomes obsolete. */
/* Code moved down for better organization */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Changed from specific class to element <article> */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Renamed to better encapsulate all three blocks. */
article img {
    max-height: 200px;
}

/* Renamed to better encapsulate all three blocks. */
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Added background color to footer. */
/* Changed from class to directly affecting the footer element  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /*Background color added */
    background-color: #2a607c;
}

/* Changed h2 to h4 */
/* Changed from footer class to directly affecting all h4 elements in the footer  */
footer h4 { /* was h2 */
    font-size: 20px;
}
